{% extends 'base.html.twig' %}

{% block title %}Patrice & Ana-Maria{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home/home.css') }}">{% endblock %}
{% block body %}
     {% include 'includes/header.html.twig' %}

    <div class="container" id="defaultWedding">
        <div class="row">
            <div class="col l12 m12 s12 center-align" id="weddingRoom">
                <p class="headerWedding">
                    Patrice & Ana-Maria</br>
                    3 August 2019
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 center-align" id="weddingInfos">
                <p>
                    ✞</br>
                    15h - 17h<br>
                    <span class="place">Biserica Gloria Arad</span></br>
                    <i class="material-icons locationIcon">location_on</i><a href="http://maps.google.com/?q=Strada+Gloriei+5,+Arad+310466,+Romania" target="_blank">Strada Gloriei 5, Arad 310466, Romania</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 center-align" id="weddingInfos">
                <p>
                    <i class="material-icons">restaurant</i></br>
                    18h<br>
                    <span class="place">Domeniul Lupas</span></br>
                    <i class="material-icons locationIcon">location_on</i><a href="http://maps.google.com/?q=Domeniul+Lupas,+Arad" target="_blank">DN79, Romania</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="searchCompleted">
        <h4 class="center welcomeToHeader">
            <span class="left">
                <a class="btn-floating btn-small waves-effect waves-light deep-purple lighten-2 comeBack"><i class="material-icons">arrow_back</i></a>
            </span>
            Bine ai venit <span class="welcomeTo"></span></h4>
        <div class="row">
            <div class="col l5 m4 s12">
                <h5 class="tableNumber">Masa N° <span class="tableNr"></span> :</h5>
            </div>
            <div id="tablesNames" class="col l7 m8 s12">
                <ul class="collection tableWith"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home/home.js') }}"></script>
{% endblock %}
