{% extends 'base.html.twig' %}

{% block title %}Patrice & Ana-Maria{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home/home.css') }}">{% endblock %}
{% block body %}
     {% include 'includes/header.html.twig' %}
     <h4 class="center">Bine ati venit la nunta noastra</h4>

    <div class="container" id="containerWedding">
        <div class="row">
            <div class="col l3 m2 s12">
                <h2>Lista de mese</h2>
            </div>
            <div class="col l9 m10 s12" id="weddingRoom">
                <canvas style="border:black 1px solid;"></canvas>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home/home.js') }}"></script>
{% endblock %}
