html, body {
    width: 100%;
    height: 90%;
}

#header #search {
    text-align: center;
    line-height: 40px;
    font-size: 40px;
}

#header #search::placeholder {
    color: white !important;
}

#header #search {
    color: white !important;
}

#header #search:focus {
    color: #b39ddb !important;
}

#header #searchIcon {
    font-size: 50px;
    line-height: 40px;
}

#header #closeIcon {
    font-size: 50px;
    line-height: 40px;
}

#header #search:focus + label i, #header #search:focus ~ .material-icons {
    color: #b39ddb !important;
}

@media only screen and (max-width: 768px) {
    #header {
        height: 100px;
    }

    #header #search::placeholder{
        font-size: 42px;
    }

    #header #searchIcon {
        font-size: 50px;
        line-height: 75px;
    }

    #header #closeIcon {
        font-size: 50px;
        line-height: 100px;
    }
}

