<nav id="header">
    <div class="nav-wrapper deep-purple lighten-4 center-align">
        <form>
            <div class="input-field" id="searchBar">
                <input id="search" type="search" class="autocomplete" placeholder="Numele si prenumele" required>
                <label class="label-icon" for="search"><i class="material-icons" id="searchIcon">search</i></label>
                <i id="closeIcon" class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>