<nav id="header">
    <div class="nav-wrapper deep-purple lighten-4 center-align">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Introduceți numele și prenumele dumneavoastră" required>
          <label class="label-icon" for="search"><i class="material-icons" id="searchIcon">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>