  <nav>
    <div class="nav-wrapper deep-purple lighten-4">
      <a href="#" class="brand-logo">Patrice & Ana-Maria</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path('home') }}">Site</a></li>
      </ul>
    </div>
  </nav>