#toast-container {
  top: auto !important;
  left: auto !important;
  top: 0;
  right: 1%;
}

.valign-wrapper {
    width:100%;
    height:100%;
    position: absolute;
}

.valign {
    width: 100%;
}

.loginImage {
    width: 200px;
}