@font-face {
    font-family: Allura;
    src: url("../../fonts/Allura-Regular.otf") format("opentype");
}

@font-face {
    font-family: Angelique;
    src: url("../../fonts/Angelique.otf") format("opentype");
}

@font-face {
    font-family: Aulyars;
    src: url("../../fonts/Aulyars Italic.otf") format("opentype");
}

#defaultWedding {
    height: 100%;
    color: #9575cd;
}

#defaultWedding .row #weddingRoom{
    font-size: 50px;
}

#defaultWedding .row #weddingRoom .headerWedding{
    font-family: Aulyars;
    margin: 15px;
}

#defaultWedding .row #weddingInfos p{
    font-size: 35px;
    line-height: 30px;
}

#defaultWedding .row #weddingInfos p .icons{
    font-size: 40px;
}

#defaultWedding .row #weddingInfos p .cross{
    font-size: 60px;
}

#defaultWedding .row #weddingInfos p .hours{
    font-size: 35px;
    font-family: Aulyars;
}


#defaultWedding .row #weddingInfos p .place{
    font-size: 40px;
    font-family: Aulyars;
}

#defaultWedding .row #weddingInfos .locationPlace{
    font-size: 30px;
}

#defaultWedding .row #weddingInfos .locationPlace .locationIcon{
    color: #039be5;
    cursor: pointer;
    font-size: 35px;
}

#searchCompleted {
    display: none;
    height: 100%;
}

#searchCompleted h4{
    font-family: Aulyars;
    font-size: 5vw;
    color: #9575cd;
}

#searchCompleted .tableNumber{
    font-family: Aulyars;
    font-size: 5vw;
    color: #9575cd;
}

#searchCompleted .row {
    height: 90%;
}

#searchCompleted .tableWith {
    border: none !important;
    font-family: Aulyars;
}

#searchCompleted #tablesNames {
    margin-top: 10px;
}

#searchCompleted .tableWith .activePeople, .welcomeTo{
    color: #311b92;
    text-decoration: #311b92 dotted underline !important;
}

#searchCompleted .tableWith li {
    border-bottom: none !important;
    font-family: Aulyars;
    font-size: 50px;
    color: #9575cd;
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchCompleted .tableWith li:first-child {
    padding-top: 25px;
}

#searchCompleted .tableWith li:last-child {
    padding-bottom: 25px;
}

#search::placeholder {
    font-family: Allura;
    font-size: 5vw;
    color: #9575cd;
}

#search:focus {
    padding: 0;
    width: 100%;
}

/********* Search Bar **********/
.dropdown-content li>a, .dropdown-content li>span {
  color: #9575cd!important;
}
.autocomplete-content li .highlight {
  color: #311b92 !important;
  text-decoration: #311b92 underline;
}

@media only screen and (max-width: 768px) {
    #defaultWedding{
        font-size: 35px;
    }

    #defaultWedding .row #weddingRoom .headerWedding{
        font-size: 35px;
        line-height: 35px;
    }

    #searchCompleted .welcomeToHeader {
        font-size: 30px;
    }

    #searchCompleted .tableNumber {
        font-size: 35px;
    }

    #tablesNames .tableWith li {
        font-size: 50px;
    }

}