#defaultWedding {
    height: 100%;
}

#defaultWedding .row {
    height: 90%;
}

#defaultWedding .row #weddingRoom {
    height: 100%;
}

#defaultWedding .row #weddingRoom canvas{
    width: 100%;
    height: 100%;
}

#searchCompleted {
    display: none;
    height: 100%;
}

#searchCompleted .row {
    height: 90%;
}

#searchCompleted .row #weddingRoom {
    height: 100%;
}

